<li class="nav-item">
    <a class="nav-link active" href="{{ "categories/blog/" | absURL }}">Blog</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "categories/tshp/" | absURL }}">TSHP</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "categories/tshv/" | absURL }}">TSHV</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "categories/truckinnutz/" | absURL }}">TruckinNutz</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "categories/b19/" | absURL }}">Break19 Podcast</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "categories/ntroradio/" | absURL }}">NTROradio Podcast</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "about/" | absURL }}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "contact/" | absURL }}">Contact</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "support/" | absURL }}">Support Me</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "links/" | absURL }}">Important Links</a>
</li>